# Bağımlılıklar
node_modules/
.pnp
.pnp.js

# Derleme çıktıları
dist/
build/
out/

# Çevresel değişkenler ve loglar
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editör ve sistem dosyaları
.vscode/
.idea/
.DS_Store
Thumbs.db